header {direction:rtl; text-align:center;
    font-size:120px ;background-color:rgb(255, 0, 149) ;
    color: rgb(0, 132, 255);;border-radius:20px 20px 0px 0px ;
    border:10px solid rgb(25, 27, 27);}
